In [1]:
import pandas as pd 

data_stats_dvf= pd.read_csv("../data_lake/raw/stats_dvf.csv")
data2_stats_whole_period = pd.read_csv("../data_lake/raw/stats_whole_period.csv")

In [2]:
data_stats_dvf.info()

<class 'pandas.DataFrame'>
RangeIndex: 3640344 entries, 0 to 3640343
Data columns (total 17 columns):
 #   Column                   Dtype
---  ------                   -----
 0   code_geo                 str
 1   nb_ventes_maison         float64
 2   moy_prix_m2_maison       float64
 3   med_prix_m2_maison       float64
 4   nb_ventes_appartement    float64
 5   moy_prix_m2_appartement  float64
 6   med_prix_m2_appartement  float64
 7   nb_ventes_local          float64
 8   moy_prix_m2_local        float64
 9   med_prix_m2_local        float64
 10  nb_ventes_apt_maison     int64
 11  moy_prix_m2_apt_maison   int64
 12  med_prix_m2_apt_maison   int64
 13  annee_mois               str
 14  libelle_geo              str
 15  code_parent              str
 16  echelle_geo              str
dtypes: float64(9), int64(3), str(5)
memory usage: 472.2 MB

In [3]:
data_stats_dvf.head()

,code_geo,nb_ventes_maison,moy_prix_m2_maison,med_prix_m2_maison,nb_ventes_appartement,moy_prix_m2_appartement,med_prix_m2_appartement,nb_ventes_local,moy_prix_m2_local,med_prix_m2_local,nb_ventes_apt_maison,moy_prix_m2_apt_maison,med_prix_m2_apt_maison,annee_mois,libelle_geo,code_parent,echelle_geo
0,01,516.0,2343.0,2135.0,315.0,2822.0,2485.0,46.0,1824.0,1098.0,831,2525,2240,2020-07,Ain,nation,departement
1,01,375.0,2491.0,2269.0,197.0,2735.0,2407.0,18.0,1024.0,857.0,572,2575,2276,2020-08,Ain,nation,departement
2,01,594.0,2392.0,2224.0,300.0,2812.0,2415.0,30.0,1475.0,817.0,894,2533,2270,2020-09,Ain,nation,departement
3,01,665.0,2379.0,2136.0,322.0,2879.0,2606.0,40.0,1133.0,644.0,987,2542,2265,2020-10,Ain,nation,departement
4,01,522.0,2451.0,2212.0,270.0,2759.0,2416.0,18.0,905.0,785.0,792,2556,2245,2020-11,Ain,nation,departement

In [4]:
data2_stats_whole_period.info()

<class 'pandas.DataFrame'>
RangeIndex: 413223 entries, 0 to 413222
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   code_geo                       413223 non-null  str
 1   libelle_geo                    413196 non-null  str
 2   code_parent                    413223 non-null  str
 3   echelle_geo                    413223 non-null  str
 4   nb_ventes_whole_appartement    66103 non-null   float64
 5   moy_prix_m2_whole_appartement  66103 non-null   float64
 6   med_prix_m2_whole_appartement  66103 non-null   float64
 7   nb_ventes_whole_maison         287091 non-null  float64
 8   moy_prix_m2_whole_maison       287091 non-null  float64
 9   med_prix_m2_whole_maison       287091 non-null  float64
 10  nb_ventes_whole_apt_maison     290669 non-null  float64
 11  moy_prix_m2_whole_apt_maison   290669 non-null  float64
 12  med_prix_m2_whole_apt_maison   290669 non-null  float64
 13  nb_ventes_whole_local          71700 non-null   float64
 14  moy_prix_m2_whole_local        71700 non-null   float64
 15  med_prix_m2_whole_local        71700 non-null   float64
dtypes: float64(12), str(4)
memory usage: 50.4 MB

In [5]:
data2_stats_whole_period.head()

,code_geo,libelle_geo,code_parent,echelle_geo,nb_ventes_whole_appartement,moy_prix_m2_whole_appartement,med_prix_m2_whole_appartement,nb_ventes_whole_maison,moy_prix_m2_whole_maison,med_prix_m2_whole_maison,nb_ventes_whole_apt_maison,moy_prix_m2_whole_apt_maison,med_prix_m2_whole_apt_maison,nb_ventes_whole_local,moy_prix_m2_whole_local,med_prix_m2_whole_local
0,01,Ain,nation,departement,16023.0,3108.0,2705.0,26280.0,2715.0,2467.0,42303.0,2864.0,2529.0,2073.0,1506.0,957.0
1,01001,L'Abergement-Clemenciat,200069193,commune,NaN,NaN,NaN,40.0,2544.0,2441.0,40.0,2544.0,2441.0,NaN,NaN,NaN
2,010010000A,010010000A,01001,section,NaN,NaN,NaN,6.0,2644.0,2526.0,6.0,2644.0,2526.0,NaN,NaN,NaN
3,010010000B,010010000B,01001,section,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01001000ZA,01001000ZA,01001,section,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN